:root {
    --background: #c2c5aa;
    --from1: #a4ac86;
    --form2: #656d4a;
    --dis1: #333d29;
    --dis2: #2d3322;
}

/* Typography */

body {
    font-family: 'Courier New', Courier, monospace;
}

/* Structure */

body {
    background-color: var(--dis1);
    margin: 0px;
}

.hidden {
    display: none;
}

#main-header {
    text-align: center;
    background-color: var(--background);
    padding: 1px;
    box-shadow: var(--dis2) 0px 0px 7px;
}

#main-content {
    width: 100%;
    margin: 5px auto;
    background-color: var(--background);
    padding: 20px 0px;
}

#main-content h1 {
    text-align: center;
}

#add-animal {
    background-color: var(--from1);
    text-align: center;
    padding: 10px 20px;
    font-size: large;
    font-weight: bold;
    width: 80%;
    color: white;
    display: block;
    margin: 20px auto;
}

#add-animal:hover {
    background-color: var(--form2);
}

a {
    text-decoration: none;
    color: black;
}

.animal {
    padding: 10px;
    margin: 0px auto;
    width: 90%;
    text-align: center;
}

.animal img {
    display: block;
    margin: auto;
    width: 90%;
}

#animal-details-box {
    padding: 10px;
    background: var(--from1);
    width: 100%;
}

#animal-details h2 {
    text-align: center;
}

#form-box {
    padding: 10px;
    background: var(--from1);
    width: 100%;
}

/* Form */

#title,
form {
    text-align: center;
}

label,
input,
textarea {
    display: inline-block;
}

label,
.inline {
    width: 200px;
    text-align: left;
    padding: 5px;
}

input[type=text],
input[type=number],
textarea {
    background-color: var(--form2);
    border: 1px solid white;
    padding: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

input[type=text],
input[type=number] {
    width: 290px;
    height: 10px;
}

textarea {
    max-width: 290px;
    min-width: 290px;
    max-height: 200px;
    min-height: 30px;
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.482);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

input::file-selector-button {
    background-color: var(--form2);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: none;
    padding: 10px;
}

input[type=file] {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#personality label {
    width: 160px;
}

#add-trait,
button {
    background-color: var(--form2);
    padding: 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: small;
    color: white;
    border: 0px;
}

button {
    font-size: large;
}

#add-trait:hover,
button:hover,
input::file-selector-button:hover {
    background-color: var(--dis2);
}

/* Modal Dialog */

.modal {
    overflow-y: scroll;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: auto;
    top: 5%;
    width: 90%;
    max-height: 70%;
    box-shadow: #3b3b3b 0px 0px 900px;
}

/* Close Button */

.close {
    color: var(--dis1);
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 0px 5px;
}

.close:hover {
    color: black;
    cursor: pointer;
}

/* Larger Resolutions */

@media (min-width: 800px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }
    .animal {
        width: 25%;
    }
    #main-content {
        width: 85%;
    }
    #add-animal {
        width: 30%;
    }
    #form-box {
        margin: 20px 15%;
        width: 60%
    }
    #animal-details-box {
        margin: 20px 7%;
        width: 70%;
    }
    #personality label {
        width: 360px;
    }
}